#name h1 {
	text-transform: uppercase;
	font-size: -webkit-xxx-large;
	display: table-caption;
}

#name {
	height: 21em;
	width: 21em;
	background-color: #ff4719;
	position: absolute;
}

#nav_blog {
	height: 13em;
	width: 13em;
	background-color: #ff4719;
	top: 25em;
	position: absolute;
}

aside h3 {
	height: 5.5em;
	width: 5.5em;
	background-color: #EAE7DD;
	position: relative;
	margin: 0;
}

#footer {
	height: 5em;
	width: 21em;
	background-color: #ff4719;
	top: 42.5em;
	position: absolute;
}

table {
	height: 29.5em;
	width: 55em;
	background-color: #ff4719;
	position: absolute;
	left: 26em;
	top: 18em;
}

div {
	text-transform: uppercase;
	font-size: -webkit-xxx-large;
	display: table-caption;
	font-family: sans-serif;
	background-color: #ff4719
}

code {
	color: purple;
	font-weight: bold;
}

.images {
	height: 15em;
	width: 15em;
}