body {
	background-color: #EAE7DD;
	font-family: sans-serif;
	position: relative;
	left: 15%;
	width: 60%;
}


#picture_frame {
	height: 13em;
	width: 13em;
	background-color: #ff4719;
	position: absolute;
}


#picture {
	height: 11em;
	width: 11em;
	margin: auto;
	left: 1em;
	top: 1em;
	position: absolute;
}

#s_picture {
	height: 5em;
	width: 5em;
	margin: auto;
	position: absolute;
}

#e_picture {
	height: 8em;
	width: 8em;
	margin: auto;
	position: absolute;
	top: 5em;
}

#about {
	height: 21em;
	width: 13em;
	background-color: #ff4719;
	top: 26em;
	position: absolute;

}

#contact {
	height: 13em;
	width: 13em;
	background-color: #ff4719;
	position: absolute;
	left: 26em;
	top: 26em;
}


header {
	height: 13em;
	width: 55em;
	background-color: #ff4719;
	position: absolute;
	left: 26em;
}


header h2 {
	margin: center;
}


nav {
	height: 13em;
	width: 13em;
	background-color: #ff4719;
	left: 13em;
	top: 13em;
	position: absolute;
}


a:link {
	text-decoration: none;
}


a:hover {
	font-weight: bolder;
	color: #EAE7DD;
}

a {
	color: #C7C761;
}

nav h3 {
	height: 5.5em;
	width: 5.5em;
	background-color: #EAE7DD;
	position: relative;
	margin: 0;
}

#projects {
	float: right;
	height: 5.6em;
	width: 5.6em;
}


#github {
	height: 5em;
	width: 5em;
	background-color: #ff4719;
	left: 50em;
	top: 32.75em;
	position: absolute;
}

#linkedin {
	height: 5em;
	width: 5em;
	background-color: #ff4719;
	position: absolute;
	top: 32.75em;
	left: 63em;
}

#twitter {
	height: 5em;
	width: 5em;
	background-color: #ff4719;
	position: absolute;
	top: 32.75em;
	left: 76em;
}

footer {
	height: 5em;
	width: 55em;
	background-color: #ff4719;
	top: 42em;
	left: 26em;
	position: absolute;
}