body {
	background-color: #EAE7DD;
	font-family: sans-serif;
	/*left: 50%;*/
	/*width: 60%;*/
	text-align: center;
	margin: 1%;
	margin-left: 20%;
	margin-right: 20%;
}



header {
	height: 13em;
	width: 100%;
	background-color: #0098A0;
	border-radius: 2em;
}

h2 {
	/*position: relative;*/
}

#all {
	/*display: inline-block;*/
}

nav {
	/*height: 100%;*/
	width: 25%;
	background-color: #0098A0;
	/*float: left;*/
	border-radius: 2em;
	/*position: relative;*/
}

nav h3 {
	height: 5.5em;
	width: 5.5em;
	background-color: #fff;
	border-radius: 2em;
	

}

aside {
	width: 25%;
	height: 40%;
	/*float: left;*/
	/*background-color: #fff;*/
	border-radius: 2em;
	position: absolute;
	/*left: 25em;*/
	/*margin-left: 35%;*/
	top: 25%;
	left: 37%;
}

#e_picture {
	height: 8em;
	width: 8em;
	/*margin: auto;*/
	/*position: absolute;*/
	top: 5em;
}



.social {
	height: 5em;
	width: 5em;
	background-color: #ff4719;
	/*float: right;*/
	border-radius: 2em;
	display: inline;
	position: relative;
}



a:link {
	text-decoration: none;
	color: #C7C761;
}


a:hover {
	font-weight: bolder;
	color: #fff;
}



footer {
	height: 5em;
	width: 100%;
	background-color: #0098A0;
	/*top: 100%;*/
	border-radius: 2em;
	/*float: bottom;*/
	/*position: relative;*/
}